<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="Uri" value="https://winshuttleengineering.visualstudio.com"/>
    <add key="ProjectName" value="Foundation"/>
    <add key="BaseDirectory" value="\\10.26.1.19\Common-Data\Hydra\RahulRao\TCMigration\Foundation\Online\"/>
    <add key="TestCasesFile" value="Online.xls"/>
    <add key="Assignee" value="Rahul Rao"/>
    <add key="PAT" value="fif5dk4yurdvb4niwl7usnxnzmszm7hh7hkbnerwrsmdy47gtr4q"/>
    <add key="ProductName" value="Online"/>
    <add key="TestPlanName" value="FoundationTestPlan"/>
    <add key="CreateAreaPaths" value="true"/>
    <add key="CreateWorkItems" value="true"/>
    <add key="CreateTestPlan" value="false"/>
    <add key="AreaPathSuffix" value=""/>
    <!--Keep it empty if the suite is at top level-->
  </appSettings>
</configuration>